/* HTML ELEMENTS */

.red { color: red; }
.blue { color: blue; }
.black { color: black; }
.yellow { color: yellow; }
.purple { color: purple; }
.green { color: green; }
.times {font-family: "Times New Roman"}
.arial {font-family: "Arial"}
.lucida {font-family: "Lucida Sans"}
.input {width: 50px;}
